.node {
    height: 30px;
    width: 30px;
    border: 1px rgb(27, 156, 231) solid;
    display: inline-block;

    margin-bottom: -5px;
    margin-right: -1px;
}

.start-node {
    background-color: rgb(32, 181, 240);
}

.finish-node {
    background-color: rgb(241, 137, 19);
}

.node-visited {
    position: relative;
    
}
.node-visited::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: lightblue;
    transform: scale(0);
    border-radius: 50%;

    animation: visitedTransition 0.5s 0s ease both;
}

.node-wall {
    position: relative;
    border: 1px rgb(48, 48, 48) solid;
    z-index: 1;
}
.node-wall::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(48, 48, 48);
    transform: scale(0.3);
    z-index: 2;

    animation: wallAnimation 0.3s 0s ease both;
}

.node-shortest-path {
    background-color: yellow;
}



@keyframes visitedTransition {
    0% {
        background-color: rgb(96, 231, 130);
        transform: scale(0);
        border-radius: 50%;
    }
    60% {
        border-radius: 50%;
        background-color: rgb(76, 216, 162)
    }
    100% {
        background-color: rgb(65, 167, 214);
        transform: scale(1);
        border-radius: 0%;
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}
