.node {
    height: 30px;
    width: 30px;
    border: 1px rgb(27, 156, 231) solid;
    display: inline-block;

    margin-bottom: -5px;
    margin-right: -1px;
}

.start-node {
    background-color: rgb(32, 181, 240);
}

.finish-node {
    background-color: rgb(241, 137, 19);
}

.node-visited {
    background-color: lightblue;
    transform: scale(0);
    border-radius: 50%;

    animation: visitedTransition 0.5s 0s both;
}

.node-wall {
    background-color: black;
}

@keyframes visitedTransition {
    0% {
        background-color: rgb(96, 231, 130);
        transform: scale(0);
        border-radius: 50%;
    }
    40% {
        border-radius: 50%;
        background-color: rgb(76, 216, 162)
    }
    100% {
        background-color: rgb(65, 167, 214);
        transform: scale(1);
        border-radius: 0%;
    }
}