.Pathfinding {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Pathfinding button {
    margin-bottom: 15px;
}

.changeStartAndFinishNode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}